@{
    ViewData["Title"] = "Panel administracyjny";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li><a asp-controller="Services" asp-action="AdminOverview">Zarządzaj usługami</a></li>
    <!-- Dodaj inne zakładki panelu administracyjnego tutaj -->
</ul>
